@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

}

img {
  display: block;
  width: 100%;
}

.nav {
    padding: 0;
    list-style: none;
    color: blue;
    text-decoration: none;
}

.nav a {
    text-decoration: none;
}

.title {
  text-align: center;
  margin: 0;   
}

.background {
    background-color: #E0E0E0;
    overflow: hidden;
    
}

.listcolor {
    background-color: #E8E8E8 ;
}

.imgcolor {
    background-color:#F0F0F0 ;
}

.footer {
 text-decoration: none;
}

@media only screen and (min-width: 30em) {
    
    .nav {
        text-align: center;
    }
    
     .nav li {
        display: inline-block;
        border: 0;
        margin-right:1rem;
    }   

@media only screen and (min-width: 44.93em) {
    
    .title {
        float: left;
    }
    
    .nav {
        float: left
    }
}